.gradle/
.kotlin/
.idea/
local.properties
build/
**/build/
*.iml
keystore.properties
*.jks
*.keystore
captures/
.externalNativeBuild/
.cxx/
.venv*/
__pycache__/
*.pyc
*.hprof
gradle/gradle-daemon-jvm.properties
